.about {
  padding: 110px 70px;
}

.about__list {
  margin: 0;
  padding: 70px 0 0 0;
  column-count: 2;
  gap: 40px;
  list-style: none;
}

.about__title {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.8px;
}

.about__text {
  margin: 0;
  padding-top: 26px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.about__timing {
  width: 100%;
  padding-top: 110px;
  display: flex;
}

.about__week {
  text-align: center;
}

.about__week_type_first {
  flex-basis: 228px;
}

.about__week_type_other {
  flex-grow: 1;
  flex-basis: calc(100%-228px);
}

.about__week-lasts {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.about__week-lasts_type_first {
  color: var(--color-black);
  background-color: var(--color-green);
}

.about__week-lasts_type_other {
  color: var(--color-white);
  background-color: var(--color-gray);
}

.about__week-title {
  display: block;
  margin-top: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-light-gray);
}

@media screen and (max-width: 768px) {
  .about {
    padding: 90px 50px;
  }

  .about__list {
    gap: 30px;
  }

  .about__text {
    padding-top: 22px;
    font-size: 12px;
    line-height: 18px;
  }

  .about__timing {
    padding-top: 93px;
  }

  .about__week_type_first {
    flex-basis: 140px;
  }
}

@media screen and (max-width: 500px) {
  .about {
    padding: 70px 18px;
  }

  .about__list {
    padding: 4px 0 0 0;
    column-count: 1;
  }

  .about__title {
    padding-top: 56px;
    font-size: 18px;
    letter-spacing: -0.72px;
  }

  .about__text {
    padding-top: 16px;
    font-size: 11px;
    line-height: 16px;
  }

  .about__timing {
    padding-top: 60px;
  }

  .about__week_type_first {
    flex-basis: 100px;
  }

  .about__week_type_other {
    flex-basis: calc(100%-100px);
  }

  .about__week-lasts {
    height: 35px;
    font-size: 11px;
    line-height: 13px;
  }

  .about__week-title {
    margin-top: 10px;
    font-size: 11px;
    line-height: 13px;
  }
}
