.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.navigation__link {
  color: var(--color-white);
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
}

.navigation__profile {
  color: var(--color-white);
  font-size: 13px;
  line-height: 12px;
  font-weight: 500;
  text-decoration: none;
}
