.checkbox {
  padding: 28px 0 39px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #424242;
}

.checkbox_type_default {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox_type_custom {
  box-sizing: border-box;
  position: relative;
  margin-right: 12px;
  display: inline-block;
  width: 36px;
  height: 20px;
  vertical-align: sub;
  border-radius: 20px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.checkbox_type_custom:hover {
  opacity: 0.7;
}

.checkbox_type_custom::before {
  position: absolute;
  content: "";
  width: 36px;
  height: 20px;
  background-image: url("../../../images/smalltumboff.svg");
  background-repeat: no-repeat;
  background-size: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}

.checkbox_type_default:checked + .checkbox_type_custom::before {
  background-image: url("../../../images/smalltumb.svg");
}

@media screen and (max-width: 890px) {
  .checkbox {
    padding: 41px 0 40px;
  }
}

@media screen and (max-width: 380px) {
  .checkbox {
    padding: 47px 0 40px;
    font-size: 11px;
  }

  .checkbox_type_custom {
    margin-right: 13px;
  }
}
