.header {
  width: 100%;
  height: 74px;
  margin: 0 auto;
  background: var(--color-dark-header);
  display: flex;
  justify-content: space-between;
}

.header_black {
  background: var(--color-dark-main);
}

.header__logo {
  width: 38px;
  height: 38px;
  margin: auto 0 auto 70px;
}
